
  <title>Reservar</title>

   <p-menu #menu popup="popup" [model]="items"></p-menu>
<button type="button" pButton icon="fa fa-list" label="Menu" (click)="menu.toggle($event)"></button>


 <button pButton type="button" [routerLink]="['/reservas']" label="Ver Reservas"></button>

<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <router-outlet></router-outlet>
  <p-growl [(value)]="msgs"></p-growl>

 
<br/>
<br/>

<h2>Escolha o local que deseja ir</h2>


<form #f ="ngForm" >


  <div >
  <select [(ngModel)]="reserva.restaurante" name="restaurantes" required>
    <option value="Relojoeiro">Relojoeiro</option>
    <option value="Bebelu" >Bebelu</option>
    <option value="Kitnet" selected >Kitnet</option>
  </select>

 
  <br><br>

 </div>
 <div ngModelGroup="Reserva"> 

<h2>Nome do cliente</h2>

<input type="text" #nomeUsuario ="ngModel" class="form-control" [(ngModel)]="reserva.nome" name="name"  required/>   

<div *ngIf="!nomeUsuario.valid && (nomeUsuario.dirty || nomeUsuario.touched)"
    class="alert alert-danger">X</div>


<h2>Data</h2>

<p-calendar #calendario ="ngModel"class="form-control"  [(ngModel)]="reserva.data" name = "date" [showIcon]="true"required ></p-calendar> 

 
<h2>Horario</h2>

<p-calendar #time ="ngModel"  class="form-control"  [(ngModel)]="reserva.hora" name = "hora" [timeOnly]="true" required ></p-calendar>
 
<h2>Numero da mesa</h2>

<input type="number" #nMesa ="ngModel" class="form-control" [(ngModel)] = "reserva.numeroMesa" name="hora"  required/>
<br>
<br>
<!-- <p-growl [value] = "msgs"></p-growl>-->
<!-- <p-splitButton label="Save" icon="fa-check" (onClick)="save()" [model] = "items"></p-splitButton>-->
<!--<button pButton type="button" (click)="count()" icon="fa-check" label="Click">biaaaaaaa</button>-->


<br>
<br>
<button [disabled]="!f.valid" (click)="armazenaDados()"> Concluir </button> 
  </div>
</form>



</div>
    <div class="ui-g-4"></div>
</div>
  