   
   <div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1">
             <h1>Login</h1>

    </div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
</div>




<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">

<router-outlet></router-outlet>
<p-growl [(value)]="msgs"></p-growl>

<form #f2 ="ngForm" >

<h3>User</h3>

<input type="text" #nomeUsuario ="ngModel" class="form-control" [(ngModel)]="usuario.nome" name="nome"  required/> 
<br>

<h3>Senha</h3>

<input type="password" senha="ngModel" class="form-control" [(ngModel)]="usuario.senha" name="senha" required/> 

</form>

<br/>
<br/>


<!--<button [disabled]="!f2.valid"  (click)="fazerlogin()" > Entrar </button>-->
<button pButton type="button" [disabled]="!f2.valid" (click)="fazerlogin()" label="Entrar"></button>
<br>
<br>
<h5> Clique aqui para
<a class="btn btn-success" [routerLink]="['/cadastrar']"> Cadastra-se</a>
</h5>
<a class="btn btn-success" [routerLink]="['/cadastro-rest']">Cadastra um restaurante</a>

    </div>
    <div class="ui-g-4"></div>
</div>