<h1>Login</h1>

<router-outlet></router-outlet>
<p-growl [(value)]="msgs"></p-growl>

<form #f2 ="ngForm" >

<h3>User</h3>

<input type="text" #nomeUsuario ="ngModel" class="form-control" [(ngModel)]="usuario.nome" name="nome"  required/> 
<br>

<h3>Senha</h3>

<input type="password" senha="ngModel" class="form-control" [(ngModel)]="usuario.senha" name="senha" /> 

</form>

<br/>
<br/>


<!--<button [disabled]="!f2.valid"  (click)="fazerlogin()" > Entrar </button>-->
<button pButton type="button" [disabled]="!f2.valid" (click)="fazerlogin()" label="Entrar"></button>
<br>
<br>
<button [routerLink]="['/cadastrar']" > Cadastre-se </button> 

<button [routerLink]="['/cadastro-rest']" > Cadastre um restaurante </button> 

